@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Garamond';
  src: url('///AGaramondPro-Italic.woff') format('truetype');
  font-display: swap;
  font-weight: 400; /* normal */
  font-style: normal;
}

.responsive-title {
  margin: 0;
  font-size: clamp(6rem, 16vw, 14rem);
  line-height: 0.75;
  font-family: Garamond;
  font-style: italic;
  letter-spacing: -0.5rem;
}

:root {
  --background-color: #FFFEF4; /* Light theme background color */
  --text-color: #F30D0F;           /* Light theme text color */
}

/* Styles for dark theme */
[data-theme="dark"] {
  --background-color: #B80002; /* Dark theme background color */
  --text-color: white;         /* Dark theme text color */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
